<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>出退勤</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="container-header">
        <h1>出退勤記録</h1>
        <a href="/views/create.ejs" class="btn1">新規シフト登録</a>
        <a href="/views/apply.ejs" class="btn1">各種申請</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span>出勤日</span>
          <span>出勤時間</span>
          <span>退勤時間</span>
          <span>休憩時間</span>
        </div>
        <ul class="table-body">
          <%= items.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="column"><%= item.date %></span>
                <span class="column"><%= item.in %></span>
                <span class="column"><%= item.out %></span>
                <span class="column"><%= item.relax %></span>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
